.remaining_sumb{
  padding-top: 40px;
  padding-bottom: 26px;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
  text-align: center;
}
.remaining_sumb .remaining_sumlb{
  text-align: center;
  width: 50%;
  height: 122px;
  border-right: 1px solid #e5e5e5;
}
.remaining_sumb .remaining_sumlb .remaining_sumltopb{
  font-size: 26px;
  line-height: 26px;
  color: #666666;
  margin-top: 14px;
}
.remaining_sumb .remaining_sumlb .remaining_sumlbutb{
  font-size: 48px;
  color: #ff0b29;
  margin-top: 24px;
  line-height: 48px;
}
.remaining_sumb .remaining_sumrb{
  text-align: center;
  width: 49%;
  height: 122px;
}
.remaining_sumb .remaining_sumrb .remaining_sumrtopb{
  font-size: 26px;
  line-height: 26px;
  color: #666666;
  margin-top: 14px;
}
.remaining_sumb .remaining_sumrb .remaining_sumrbutb{
  font-size: 48px;
  color: #ff0b29;
  margin-top: 24px;
  line-height: 48px;
}
.atonce_rechargeb{
  height: 52px;
  width: 386px;
  color: #FF366F;
  border-radius: 6px;
  text-align: center;
  line-height: 52px;
  font-size: 28px;
  display: inline-block;
  border: 1px solid #FF366F;
  margin-top: 42px;
}
.fund_contentb{
  width: 100%;
  background: #ffffff;
  margin-top: 24px;
}
.fund_contentb .fundtypeb{
  height: 67px;
  width: 100%;
}
.fund_contentb .fundtypeb li{
  height: 67px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  line-height: 67px;
  color: #333333;
  font-size: 28px;
}
.currentb{
  border-bottom: 2px solid #FF366F!important;
  color: #FF366F!important;
  height: 66px!important;
}
.fundcontent_detailb{
  height: 100px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
}
.fundcontent_detailb .fundcontent_detailfb{
  width: 70%;
  height: 100%;
  overflow: hidden;
}
.fundcontent_detailb .fundcontent_detailfb p{
  line-height: 36px;
  font-size: 26px;
  color: #333333;
  margin-top: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fundcontent_detailb .fundcontent_detailfb p span{
  line-height: 36px;
  font-size: 22px;
  color: #999999;
}
.fundcontent_detailb .fundcontent_detailrb{
  width: 30%;
  height: 100%;
  line-height: 100px;
  text-align: right;
  font-size: 28px;
  color: #ff0b29;
}
.apply_Btn20{
  background: #FF366F;
  height: 97px;
  width: 100%;
  color: #ffffff;
}
