<link rel="stylesheet" href="/../../m/m_v2.0/css/golddeposits.css?366">
<ion-view style="background: #f6f6f6">
  <ion-content>
<p class="top_hinta">1元人民币=1金币,首次充值额外赠送50%金币 </p>
<div class="VIP_choicea">
  <p class="gold_accounta">充值账号<span>{{dataList.nick}}</span></p>
  <p class="gold_rechargea">充值金额<input type="text" class="gold_rechargeinputa" placeholder="输入金额"></p>
  <label><P class="choice_detaila clearfix">10金币<span class="add_coina">加送5金币</span><input type="radio" name="viptype" checked="checked" class="myfr VIP_clicka"></P></label>
  <label><P class="choice_detaila clearfix">30金币<span class="add_coina">加送15金币</span><input type="radio" name="viptype" class="myfr VIP_clicka"></P></label>
  <label><P class="choice_detaila clearfix">50金币<span class="add_coina">加送25金币</span><input type="radio" name="viptype" class="myfr VIP_clicka"></P></label>
  <label><P class="choice_detaila clearfix">100金币<span class="add_coina" style="margin-left: 34px;">加送50金币</span><input type="radio" name="viptype" class="myfr VIP_clicka"></P></label>
</div>
<div class="pay_choicea">
  <P class="pay_titlea">手机端暂不支持开通，请前往PC站完成充值<br>PC网址<a href="http://www.huomanhao.com" style="color: #FF366F;text-decoration: underline">www.huomanhao.com</a></P>
</div>
<button class="registerBtna" onclick="window.location.href='http://www.huomanhao.com'" style="margin-top: 40px;">支付</button>
  </ion-content>
</ion-view>
