<link rel="stylesheet" href="/../../m/m_v2.0/css/olduserwelfare.css?366">

<ion-view style="background: #f8d583">
  <ion-content>
   <div class="bannertop"></div>
    <div class="newpeople_main" style="font-weight: bold;font-size: 24px;" >
     <div class="new_exclusive">
       <img src="/../../m/m_v2.0/img/olduser/newpeople1.png" style="margin-left: 32px;margin-top: 30px;margin-right: 50px;float: left">
       <div class="new_exclusiveright">
         <img src="/../../m/m_v2.0/img/olduser/newpeoplebtn1.png" style="margin-top: 38px;">
         <p class="new_exclusiverighttext"><span style="display: block;text-align: center;margin-bottom: 20px;">必中资格</span><span style="color: #FFF;display: block;text-align: center;font-size: 24px;width:160px;height:48px;border-radius: 24px;background-color: #e44a3e;line-height: 48px;margin:0 auto;" ui-sref="newList">点击领取</span></p>
       </div>
     </div>
      <div class="new_exclusive">
        <img src="/../../m/m_v2.0/img/olduser/newpeople2.png" style="margin-left: 32px;margin-top: 30px;margin-right: 50px;float: left">
        <div class="new_exclusiveright">
          <img src="/../../m/m_v2.0/img/olduser/newpeoplebtn2.png" style="margin-top: 38px;">
          <div>
          <p class="new_exclusiverighttext1" style="">
            <span style='text-align: center;display: block;'>首单<em style="color: #e44a3e">95%</em>中奖率</span>
            <span style='text-align: center;display: block;margin-top:-5px;'>首月<em style="color: #e44a3e">70%</em>中奖率</span>
          </p>
          <p style="width:160px;height:48px;border-radius: 24px;background-color: #e44a3e;line-height: 48px;margin:0 auto;color: #fff;text-align: center;" ui-sref="tabs.goodList">点击领取</p>
          </div>
        </div>
      </div>

      <div class="new_exclusive">
        <img src="/../../m/m_v2.0/img/olduser/newpeople3.png" style="margin-left: 32px;margin-top: 30px;margin-right: 50px;float: left">
        <div class="new_exclusiveright">
          <img src="/../../m/m_v2.0/img/olduser/newpeoplebtn3.png" style="margin-top: 38px;">
          <div>
            <p class="new_exclusiverighttext1" style="">
              <!-- <span style='text-align: center;display: block;'>第二单额外多返<em style="color: #e44a3e">3元</em></span> -->
              <span style='text-align: center;display: block;'>第四单额外赠送<em style="color: #e44a3e">5金币</em></span>
            </p>
            <p style="width:250px;height:48px;border-radius: 24px;background-color: #e44a3e;line-height: 48px;margin:0 auto;color: #fff;text-align: center;">完成订单自动获取</p>
          </div>
        </div>
      </div>
      <div class="new_exclusive">
        <img src="/../../m/m_v2.0/img/olduser/newpeople4.png" style="margin-left: 32px;margin-top: 30px;margin-right: 50px;float: left">
        <div class="new_exclusiveright">
          <img src="/../../m/m_v2.0/img/olduser/newpeoplebtn4.png" style="margin-top: 38px;">
          <p class="new_exclusiverighttext1">
            每有一个好友注册下单，奖励<em style="color: #e44a3e">10元</em>
            好友第四单再奖<em style="color: #e44a3e">3元</em><span style="display: block;margin:0 auto;width:160px;height:48px;border-radius: 24px;background-color: #e5e6e6;line-height: 48px; color:#bfbfbf;text-align: center;">已领取</span>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
