<link rel="stylesheet" href="/../../m/m_v2.0/css/account.css?366">
<ion-view style="background: #f6f6f6">
  <ion-content style="padding-top: 24px">
    <div class="rank">
    <div class="ranklist">
       <div class="ranklist_img myfl">
         <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.applys[0]">-->
         <img src="../../m/m_v2.0/img/account/rank11.png">
       </div>
      <div class="ranklist_text myfl">
       <p class="text_top">申请成就：1级
         <span class="fall" ng-if="graderank.apply_dates[0]">{{graderank.apply_dates[0]}}获得</span>
         <span class="notfall" ng-if="!graderank.apply_dates[0]">({{graderank.apply}}/50)</span>
       </p>
        <p class="text_buttom">
          申请<em style="color: #FF366F">50</em>个活动后解锁<br>
          解锁奖励：<em style="color: #FF366F">3</em>金币
        </p>
      </div>
    </div>
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.applys[1]">-->
          <img src="../../m/m_v2.0/img/account/rank12.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">申请成就：2级
            <span class="fall" ng-if="graderank.apply_dates[1]">{{graderank.apply_dates[1]}}获得</span>
            <span class="notfall" ng-if="!graderank.apply_dates[1]">({{graderank.apply}}/200)</span>
          </p>
          <p class="text_buttom">
            申请<em style="color: #FF366F">200</em>个活动后解锁<br>
            解锁奖励：<em style="color: #FF366F">10</em>金币
          </p>
        </div>
      </div>
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.applys[2]">-->
          <img src="../../m/m_v2.0/img/account/rank13.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">申请成就：3级
            <span class="fall" ng-if="graderank.apply_dates[2]">{{graderank.apply_dates[2]}}获得</span>
            <span class="notfall" ng-if="!graderank.apply_dates[2]">({{graderank.apply}}/800)</span>
          </p>
          <p class="text_buttom">
            申请<em style="color: #FF366F">800</em>个活动后解锁<br>
            解锁奖励：<em style="color: #FF366F">50</em>金币
          </p>
        </div>
      </div>
    </div>
    <div class="rank">
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.orders[0]">-->
          <img src="../../m/m_v2.0/img/account/rank21.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">订单成就：1级
            <span class="fall" ng-if="graderank.order_dates[0]">{{graderank.order_dates[0]}}获得</span>
            <span class="notfall" ng-if="!graderank.order_dates[0]">({{graderank.order}}/10)</span>
          </p>
          <p class="text_buttom">
            完成<em style="color: #FF366F">10</em>个订单后解锁<br>
            解锁奖励：<em style="color: #FF366F">3</em>金币
          </p>
        </div>
      </div>
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.orders[1]">-->
          <img src="../../m/m_v2.0/img/account/rank22.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">订单成就：2级
            <span class="fall" ng-if="graderank.order_dates[1]">{{graderank.order_dates[1]}}获得</span>
            <span class="notfall" ng-if="!graderank.order_dates[1]">({{graderank.order}}/30)</span>
          </p>
          <p class="text_buttom">
            完成<em style="color: #FF366F">30</em>个订单后解锁<br>
            解锁奖励：<em style="color: #FF366F">10</em>金币
          </p>
        </div>
      </div>
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.orders[2]">-->
          <img src="../../m/m_v2.0/img/account/rank23.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">订单成就：3级
            <span class="fall" ng-if="graderank.order_dates[2]">{{graderank.order_dates[2]}}获得</span>
            <span class="notfall" ng-if="!graderank.order_dates[2]">({{graderank.order}}/100)</span>
          </p>
          <p class="text_buttom">
            完成<em style="color: #FF366F">100</em>个订单后解锁<br>
            解锁奖励：<em style="color: #FF366F">50</em>金币
          </p>
        </div>
      </div>
    </div>
    <div class="rank">
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.fans[0]">-->
          <img src="../../m/m_v2.0/img/account/rank31.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">粉丝成就：1级
            <span class="fall" ng-if="graderank.fan_dates[0]">{{graderank.fan_dates[0]}}获得</span>
            <span class="notfall" ng-if="!graderank.fan_dates[0]">({{graderank.fan}}/10)</span>
          </p>
          <p class="text_buttom">
            邀请<em style="color: #FF366F">10</em>个一级粉丝后解锁<br>
            解锁奖励：<em style="color: #FF366F">3</em>金币
          </p>
        </div>
      </div>

      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.fans[1]">-->
          <img src="../../m/m_v2.0/img/account/rank32.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">粉丝成就：2级
            <span class="fall" ng-if="graderank.fan_dates[1]">{{graderank.fan_dates[1]}}获得</span>
            <span class="notfall" ng-if="!graderank.fan_dates[1]">({{graderank.fan}}/30)</span>
          </p>
          <p class="text_buttom">
            邀请<em style="color: #FF366F">30</em>个一级粉丝后解锁<br>
            解锁奖励：<em style="color: #FF366F">10</em>金币
          </p>
        </div>
      </div>
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.fans[2]">-->
          <img src="../../m/m_v2.0/img/account/rank33.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">粉丝成就：3级
            <span class="fall" ng-if="graderank.fan_dates[2]">{{graderank.fan_dates[2]}}获得</span>
            <span class="notfall" ng-if="!graderank.fan_dates[2]">({{graderank.fan}}/100)</span>
          </p>
          <p class="text_buttom">
            邀请<em style="color: #FF366F">100</em>个一级粉丝后解锁<br>
            解锁奖励：<em style="color: #FF366F">50</em>金币
          </p>
        </div>
      </div>
    </div>
    <div class="rank">
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.spokes[0]">-->
          <img src="../../m/m_v2.0/img/account/rank41.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">代言人成就：1级
            <span class="fall" ng-if="graderank.spoke_dates[0]">{{graderank.spoke_dates[0]}}获得</span>
            <span class="notfall" ng-if="!graderank.spoke_dates[0]">({{graderank.spoke}}/10)</span>
          </p>
          <p class="text_buttom">
            <em style="color: #FF366F">10</em>个一级粉丝下单后解锁<br>
            解锁奖励：<em style="color: #FF366F">3</em>金币
          </p>
        </div>
      </div>
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.spokes[1]">-->
          <img src="../../m/m_v2.0/img/account/rank42.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">代言人成就：2级
            <span class="fall" ng-if="graderank.spoke_dates[1]">{{graderank.spoke_dates[1]}}获得</span>
            <span class="notfall" ng-if="!graderank.spoke_dates[1]">({{graderank.spoke}}/30)</span>
          </p>
          <p class="text_buttom">
            <em style="color: #FF366F">30</em>个一级粉丝下单后解锁<br>
            解锁奖励：<em style="color: #FF366F">10</em>金币
          </p>
        </div>
      </div>
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.spokes[2]">-->
          <img src="../../m/m_v2.0/img/account/rank43.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">代言人成就：3级
            <span class="fall" ng-if="graderank.spoke_dates[2]">{{graderank.spoke_dates[2]}}获得</span>
            <span class="notfall" ng-if="!graderank.spoke_dates[2]">({{graderank.spoke}}/100)</span>
          </p>
          <p class="text_buttom">
            <em style="color: #FF366F">100</em>个一级粉丝下单后解锁<br>
            解锁奖励：<em style="color: #FF366F">50</em>金币
          </p>
        </div>
      </div>
    </div>
    <div class="rank">
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.coins[0]">-->
          <img src="../../m/m_v2.0/img/account/rank51.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">金币成就：1级
            <span class="fall" ng-if="graderank.coin_dates[0]">{{graderank.coin_dates[0]}}获得</span>
            <span class="notfall" ng-if="!graderank.coin_dates[0]">({{graderank.coin}}/100)</span>
          </p>
          <p class="text_buttom">
            累计充值<em style="color: #FF366F">100</em>金币后解锁<br>
            解锁奖励：<em style="color: #FF366F">3</em>金币
          </p>
        </div>
      </div>
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.coins[1]">-->
          <img src="../../m/m_v2.0/img/account/rank52.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">金币成就：2级
            <span class="fall" ng-if="graderank.coin_dates[1]">{{graderank.coin_dates[1]}}获得</span>
            <span class="notfall" ng-if="!graderank.coin_dates[1]">({{graderank.coin}}/500)</span>
          </p>
          <p class="text_buttom">
            累计充值<em style="color: #FF366F">500</em>金币后解锁<br>
            解锁奖励：<em style="color: #FF366F">10</em>金币
          </p>
        </div>
      </div>
      <div class="ranklist">
        <div class="ranklist_img myfl">
          <!--<img src="../../m/m_v2.0/img/account/rank00.png" ng-if="!graderank.coins[2]">-->
          <img src="../../m/m_v2.0/img/account/rank53.png">
        </div>
        <div class="ranklist_text myfl">
          <p class="text_top">金币成就：3级
            <span class="fall" ng-if="graderank.coin_dates[2]">{{graderank.coin_dates[2]}}获得</span>
            <span class="notfall" ng-if="!graderank.coin_dates[2]">({{graderank.coin}}/1000)</span>
          </p>
          <p class="text_buttom">
            累计充值<em style="color: #FF366F">1000</em>金币后解锁<br>
            解锁奖励：<em style="color: #FF366F">50</em>金币
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

