<link rel="stylesheet" href="/../../m/m_v2.0/css/useVipdredge.css?366">
<ion-view style="background: #ffffff">
  <ion-content>
    <div class="userVip_top1">
      <dl>
        <dd class="myfl"><img src="../../img/apply/goodspic.png"></dd>
        <dt class="myfl">
        <p class="user_name1 myfl">Bigfish大鱼君 </p><span class="user_namespan1 myfl"></span>
        <p class="VIP_grade1 clear"><span class="grade1" style="margin-right: 34px;">等级：VIP会员</span><span>到期时间：2017-11-09</span></p>
        </dt>
      </dl>
    </div>
    <div class="succeed_contend">
      <p>恭喜开通会员成功！</p>
      <img src="../../img/apply/smiling_face.png" style=" height: 85px; width: 85px; margin-top: 24px;">
      <a href="javascript:;">马上申请活动&nbsp;></a>
    </div>
  </ion-content>
</ion-view>
