<link rel="stylesheet" href="/../../m/m_v2.0/css/taobaoaccountbind.css?366">
<ion-view style="background: #f6f6f6">
  <ion-content>
<!--<div class="shadow_select" style="display: none"></div>-->
    <form name="bindForm">
<div class="bind_taobao">
<p class="bind_taobaoaccount" style="color: #000000;" >淘宝账户<input type="text" name="taobaoNum" class="bind_taobaoaccountinput bindtaobao_name" ng-model="taobao_name" required ng-focus/></p>
<!--<p class="bind_taobaoaccount">淘宝等级<input type="text" class="bind_taobaoaccountinput"></p>-->
  <div class="item1 clearfix">
    <span class="item_lable myfl">淘宝等级</span>
    <input type="hidden" name="taobaoLevel" id="taobao_name" ng-model="taobao_level" value="0"  required ng-focus/>
    <div class="taobaoBind_frame" style="float: left;">
      <span class="taobaoBind_grades" ng-click="modal.show()" >请选择等级</span>
    </div>
    <br/>
  </div>
</div>
    </form>
    <div style="height: 46px;width: 90%;margin-left: 4%;" >
      <p class="error_texta" ng-show="bindForm.taobaoNum.$focused&&bindForm.taobaoNum.$error.required||boobind" style="font-size: 24px; height: 46px; line-height: 46px;color: #FF366F;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/error_bg.png) no-repeat left center;">淘宝账号长度1-25位,不能为纯数字、手机号、邮箱！</p>
    </div>
<div class="attention6">
  <span class="attention_notice6">绑定须知：</span>
  <p class="attention_text6">1、请填写您的淘宝账号，而不是您的淘宝账号绑定的手机或者邮箱。<em style="color: #FF366F;" onclick="window.location.href='#/helpcenterDetail?number=29'">不知道自己的淘宝会员名点这里</em><br>
    2、淘宝账号需完成实名认证。<br>
    3、请核对淘宝账号后填写，如填写的账号不是本人所使用，则会影响活动中奖率！<br>
    4、提交后预计在24小时内完成审核操作，审核通过后才能获得返现。<br>
    5、淘宝账号等级不低于2星且中差评率<1%，注册时间>1个月。<br>
    6、淘宝账号认证通过后无法修改或删除。</p>
</div>
<button ng-if="bindForm.taobaoNum.$valid==false" class="disabled registerBtn61"   >立即绑定</button>
<button ng-if="bindForm.taobaoNum.$valid==true" class="registerBtn6"    on-touch="next(taobao_name,taobao_level)">立即绑定</button>
  </ion-content>
</ion-view>
<script id="templates/modaltaobaobind.html" type="text/ng-template">
  <ion-modal-view style="display: block;
    position: absolute;
    top: 40%;
    z-index: 10;
    /*overflow: hidden;*/
    min-height: 100%;
    width: 100%;
    text-align: center;
    background-color: #fff;">
    <ion-scroll>
    <ul class="taobaoBind_type_info" >

      <li data="12" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaoa.png" alt=""/></li>
      <li data="13" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaob.png" alt=""/></li>
      <li data="14" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaoc.png" alt=""/></li>
      <li data="15" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaod.png" alt=""/></li>
      <li data="21" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaoe.png" alt=""/></li>
      <li data="22" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaof.png" alt=""/></li>
      <li data="23" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaog.png" alt=""/></li>
      <li data="24" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaoh.png" alt=""/></li>
      <li data="25" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaoi.png" alt=""/></li>
      <li data="31" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaoj.png" alt=""/></li>
      <li data="32" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaok.png" alt=""/></li>
      <li data="33" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaol.png" alt=""/></li>
      <li data="34" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaom.png" alt=""/></li>
      <li data="35" style="border-bottom: none;" ng-click="checkgrand($event);modal.hide()"><img src="../../m/m_v2.0/img/apply/user_taobaon.png" alt=""/></li>
    </ul>
    </ion-scroll>
  </ion-modal-view>
</script>
