
<link rel="stylesheet" href="/../../m/m_v2.0/css/helpcenter.css?366">
<ion-view style="background: #f6f6f6;">
  <ion-content>
    <div class="warpall" style="margin-bottom: 134px">
      <div class="module" data="1">
      <p class="common_question">忘记密码怎么办？</p>
      <div class="module_text">
        <p class="questiontext">第一步：在货蛮好首页左上角点击“用户登录”，进入登录页面，在登录页面点击忘记密码。</p>
        <img src="http://m.huomanhao.com/huomanhao/images/img1511249583510_338.png!660x294" class="textpic">
        <p class="questiontext">第二步：填写自己的当时的注册用户名并且核对预留手机号的短信验证码。</p>
        <img src="http://m.huomanhao.com/huomanhao/images/img1511249583794_622.png!660x294" class="textpic">
        <img src="http://m.huomanhao.com/huomanhao/images/img1511249584058_807.png!660x294" class="textpic">
        <p class="questiontext">第三步：设置新密码完成修改。</p>
        <img src="http://m.huomanhao.com/huomanhao/images/img1511249584284_805.png!660x294" class="textpic">
        <img src="http://m.huomanhao.com/huomanhao/images/img1511249584486_027.png!660x294" class="textpic">
      </div>
      </div>
      <div class="module" data="2">
          <p class="common_question">如何领取新用户必中奖励？</p>
          <div class="module_text">
            <p class="questiontext"><span class="first-word">第一步：</span>点击新人专享按钮进入新人专享频道</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344268948_662.png!660x586" class="textpic">
            <p class="questiontext"><span class="first-word">第二步：</span>选择自己喜欢的商品，点击免费申请按钮或商品图片进入商品详情页</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344269404_435.png!660x586" class="textpic">
            <p class="questiontext"><span class="first-word">第三步：</span>进入商品详情页后点击免费申请按钮进入领取步骤</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344269587_350.png!660x367" class="textpic">
            <p class="questiontext"><span class="first-word">第四步：</span>按任务指示提交任务，等待第二天开奖，任务分有几种操作方式，根据提示操作加入购物车后点击下一步！（部分高价值商品需要连续做2-3天任务才能获得开奖资格，不要忘记连续申请哦）</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344269800_216.png!660x367" class="textpic">
            <p class="questiontext">第一天的单个活动所有操作已完成,请等待第二天中奖。</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344270018_759.png!660x732" class="textpic">
          </div>
          <p class="common_question">第二天</p>
          <div class="module_text">
            <p class="questiontext"><span class="first-word">第一步：</span>中奖后进入“申请进展”找到中奖商品点击领取奖励开始领奖步骤，都是一些非常简单的操作和截图</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344270206_086.png!660x586" class="textpic">
            <p class="questiontext"><span class="first-word">第二步：</span>根据页面提示上传对应的载图，点击下一步</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344270386_162.png!660x586" class="textpic">
            <p class="questiontext"><span class="first-word">第三步：</span>任务步骤完成后，就到了去淘宝下单的步骤了，这里千万要注意，<em class="first-word">淘宝下单的价格和型号一定要和任务要求的一致！如果发现找不到一致的情况，联系我们的客服MM，会给你满意的解决！</em></p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344270557_713.png!660x586" class="textpic">
            <p class="questiontext"><span class="first-word">第四步：</span>下单完成后，提交订单号、价格，上传截图。任务就完成了。如果你是第一次做任务，则需要绑定你的淘宝账号和淘宝等级，绑定的淘宝账号一定要和下单的淘宝账号一致！</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344271025_850.png!660x586" class="textpic">
            <p class="questiontext"><span class="first-word">第五步：</span>现在你只需要静静等待收货，然后给商家好评，提交好评截图，然后平台返款提现。就是这么美滋滋</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344271220_692.png!660x586" class="textpic">
          </div>
        </div>
      <div class="module" data="3">
          <p class="common_question">如何用淘宝APP扫码？</p>
          <div class="module_text">
            <p class="questiontext">第一步，打开手机淘宝AAP，点击左上角扫码按钮扫码。</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511249582209_369.png!660x1150" class="textpic">
            <p class="questiontext">第二步，选择扫描本地图片。</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511249582974_181.png!660x1217" class="textpic">
            <p class="questiontext">第三步，选择刚刚保存在微信文件夹的图片进行扫描。</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511249583256_260.png!660x1174" class="textpic">
          </div>
        </div>
      <div class="module" data="4">
          <p class="common_question">如何申请活动？</p>
          <div class="module_text">
            <p class="questiontext"><span class="first-word">第一步：</span>点击好货精选按钮进入好货精选页面</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344266341_103.png!660x586" class="textpic">
            <p class="questiontext"><span class="first-word">第二步：</span>选择自己喜欢的商品，点击免费申请按钮或商品图片进入商品详情页</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344266726_717.png!660x586" class="textpic">
            <p class="questiontext"><span class="first-word">第三步：</span>进入商品详情页后点击免费申请按钮进入领取步骤</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344266970_324.png!660x367" class="textpic">
            <p class="questiontext"><span class="first-word">第四步：</span>按任务指示提交任务，等待第二天开奖，任务分有几种操作方式，根据提示操作加入购物车后点击下一步！（部分高价值商品需要连续做2-3天任务才能获得开价资格，不要忘记连续申请哦）</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344267431_949.png!660x367" class="textpic">
            <p class="questiontext">第一天的单个活动所有操作已完成,请等待第二天中奖。</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344267638_641.png!660x732" class="textpic">
          </div>
          <p class="common_question">第二天</p>
          <div class="module_text">
            <p class="questiontext"><span class="first-word">第一步：</span>中奖后进入“申请进展”找到中奖商品点击领取奖励开始领奖步骤，都是一些非常简单的操作和截图</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344267877_280.png!660x586" class="textpic">
            <p class="questiontext"><span class="first-word">第二步：</span>根据页面提示上传对应的载图，点击下一步</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344268058_001.png!660x586" class="textpic">
            <p class="questiontext"><span class="first-word">第三步：</span>任务步骤完成后，就到了去淘宝下单的步骤了，这里千万要注意，<em class="first-word">淘宝下单的价格和型号一定要和任务要求的一致！如果发现找不到一致的情况，联系我们的客服MM，会给你满意的解决！</em></p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344268301_572.png!660x586" class="textpic">
            <p class="questiontext"><span class="first-word">第四步：</span>下单完成后，提交订单号、价格，上传截图。任务就完成了。如果你是第一次做任务，则需要绑定你的淘宝账号和淘宝等级，绑定的淘宝账号一定要和下单的淘宝账号一致！</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344268528_786.png!660x586" class="textpic">
            <p class="questiontext"><span class="first-word">第五步：</span>现在你只需要静静等待收货，然后给商家好评，提交好评截图，然后平台返款提现。就是这么美滋滋</p>
            <img src="http://m.huomanhao.com/huomanhao/images/img1511344268729_774.png!660x586" class="textpic">
          </div>
        </div>
      <div class="module" data="5">
          <p class="common_question">如何查看活动进展？</p>
          <div class="module_text">
            <p class="questiontext">登录货蛮好，进入个人中心，可以在左侧导航栏中找到活动管理，点击查看详情即可看到任务进展情况。</p>
          </div>
      </div>
      <div class="module" data="6">
          <p class="common_question">如何查看我是否中奖？</p>
          <div class="module_text">
            <p class="questiontext">可以在活动列表查看自己是否中奖，如果没有中奖可以选择继续做任务提高下次开奖的中奖率。</p>
          </div>
      </div>
      <div class="module" data="7">
          <p class="common_question">金币兑换中奖如何领取下单？</p>
          <div class="module_text">
            <p class="questiontext">在金币必中频道，找到已经开抢的宝贝，点击进入详情页后选择金币兑换（如果金币不足则需要先充值金币）<br>
              点击选择金币兑换后，按要求找到宝贝提交活动（金币必中购买的是抽奖必中资格，仍需要完成申请任务来获得抽奖资格）<br>
              金币必中获得开奖资格后开奖必中，中奖后按要求完成领取，收货好评后即可拿到平台的返款</p>
          </div>
      </div>
      <div class="module" data="8">
          <p class="common_question">收货后如何提交评价？</p>
          <div class="module_text">
            <p class="questiontext">收货后前往货蛮好查看评价任务是否开放，评价任务开放后，查看评价需求，根据需求前往淘宝完成评价。（注意评价必须符合要求，否则可能被商家驳回）<br>
              评价完成后，将自己的评价内容截图，上传到货蛮好，提交评价任务。（注意截图必须符合要求，否则可能被商家驳回）<br>
              商家审核通过后，评价任务就完成了</p>
          </div>
      </div>
      <div class="module" data="9">
          <p class="common_question">如何成为代言人？</p>
          <div class="module_text">
            <p class="questiontext">用户亲身体验并认可货蛮好的商品和服务，满足相应的条件且愿意分享给身边人（粉丝），称为货蛮好代言人。代言人只负责分享，不负责销售服务，所有的订单交易、售后服务、供应发货等服务全由货蛮好平台上的商家负责。成功注册成为货蛮好网用户，便可获得货蛮好代言人资格。</p>
          </div>
      </div>
      <div class="module" data="10">
          <p class="common_question">如何邀请好友成为你的粉丝？</p>
          <div class="module_text">
            <p class="questiontext">1）代言人通过货蛮好网申请专属二维码及邀请码；<br>
              2）通过社交媒体如微信朋友圈、微博等推广给自己身边的朋友；<br>
              3）引导其关注公众号并注册成为货蛮好网用户；<br>
              4）只需粉丝在货蛮好网中成功购物，代言人即可获得货蛮好网给予的奖励。</p>
          </div>
      </div>
      <div class="module" data="11">
          <p class="common_question">如何领取代言人奖励？</p>
          <div class="module_text">
            <p class="questiontext">1）金币奖励发放时间：金币奖励及时到账；<br>
              2）下单返现奖励时间：粉丝完成活动任务，下单付款并确认收货给予好评，则系统自动将订单的0.5%～1%的返款到代言人账户；<br>
              3）微信红包奖励时间：完成<!--代言人蜕变奖或-->起步奖后，关注平台微信号（huomanhao8888）。平台将在审核确认之后及时发放到代言人微信。</p>
          </div>
      </div>
      <div class="module" data="12">
          <p class="common_question">如何提高中奖率？</p>
          <div class="module_text">
            <p class="questiontext">提高中奖率的方法有很多种<br>
              1 在平台保持活跃，多签到，多申请活动，活动申请的越频繁，中奖后能够按时领奖，中奖率也就越高<br>
              2 邀请好友注册和申请活动，尤其自己的粉丝成功下单后，您的中奖率将大幅提升<br>
              3 针对具体的活动，您的申请任务做的越多，中奖率会越高；（连续做3天任务后的中奖率会远高于只做了一天任务的中奖率）<br>
              4 完善个人信息，充值金币，开通会员，也能在一定程度上提高您的中奖几率</p>
          </div>
      </div>
      <div class="module" data="13">
        <p class="common_question">收不到消息通知怎么办？</p>
        <div class="module_text">
          <p class="questiontext">首先检查是否取消关注了货蛮好的微信，如果取消了请重新关注并绑定消息通知<br>
            查看短信是否被手机系统拦截，如果短信被拦截请把货蛮好的号码重新设置为白名单<br>
            假设以上两种方式都没能解决问题，请联系我们的客服处理</p>
        </div>
      </div>
      <div class="module" data="14">
        <p class="common_question">充值金币没有到账怎么办？</p>
        <div class="module_text">
          <p class="questiontext">您好，目前充值金币采用转账后人工审核的方式，一般9:00-22:00之间充值的金币，会在两个小时内到账，期间无需催促；其余时间充值的金币，会统一在9:00之后进行审核处理。若未在规定时间内到账的，您再联系货蛮好客服即可，感谢您对货蛮好的理解和支持~</p>
        </div>
      </div>
      <div class="module" data="15">
        <p class="common_question">充值了没有到账怎么办？</p>
        <div class="module_text">
          <p class="questiontext">请联系我们的客服处理</p>
        </div>
      </div>
      <div class="module" data="16">
        <p class="common_question">如何修改我的登录密码？</p>
        <div class="module_text">
          <p class="questiontext">登录密码可以在用户后台左侧导航栏的账户安全中修改，正确输入原登录密码后即可设置新密码</p>
        </div>
      </div>
      <div class="module" data="17">
        <p class="common_question">如何补全我的个人资料？</p>
        <div class="module_text">
          <p class="questiontext">可以在用户后台的基本信息中补全自己的个人资料，资料补充完整后可以获得金币奖励</p>
        </div>
      </div>
      <div class="module" data="18">
        <p class="common_question">如何绑定淘宝账户？</p>
        <div class="module_text">
          <p class="questiontext">申请活动前需要绑定淘宝账户，淘宝账户可在用户后台中绑定，提交绑定申请，平台审核通过后即可参与活动。 淘宝账户绑定成功后不可修改，活动中的下单账号必须同绑定的淘宝账户一致</p>
        </div>
      </div>
      <div class="module" data="19">
        <p class="common_question">如何绑定提现账户？</p>
        <div class="module_text">
          <p class="questiontext">目前支持支付宝提现，提现成功后资金将返回您对应的支付宝账户；可在用户后台-提现绑定中绑定提现账户，绑定的账号必须与支付宝账户一致，否则将会提现失败</p>
        </div>
      </div>
      <div class="module" data="20">
        <p class="common_question">如何开通VIP会员？</p>
        <div class="module_text">
          <p class="questiontext">可在账户充值中选择充值VIP，选择对应的套餐进行开通</p>
        </div>
      </div>
      <div class="module" data="21">
        <p class="common_question">如何充值金币？</p>
        <div class="module_text">
          <p class="questiontext">可在账户充值中充值金币，其中成为VIP用户后充值的每笔金币都将获得额外的金币。</p>
        </div>
      </div>
      <div class="module" data="22">
        <p class="common_question">如何获得积分？</p>
        <div class="module_text">
          <p class="questiontext">积分可以通过每日签到以及做任务申请获得</p>
        </div>
      </div>
      <div class="module" data="23">
        <p class="common_question">如何兑换积分？</p>
        <div class="module_text">
          <p class="questiontext">可以在积分商城通过积分兑换您喜欢的商品</p>
        </div>
      </div>
      <div class="module" data="24">
        <p class="common_question">如何查看订单号?</p>
        <div class="module_text">
          <p class="questiontext">登录淘宝，可在顶部通知栏 我的淘宝-已买到的宝贝 中查看自己的购买记录，以及每一笔订单的订单号</p>
        </div>
      </div>
      <div class="module" data="25">
        <p class="common_question">如何查看下单金额？</p>
        <div class="module_text">
          <p class="questiontext">登录淘宝，可在顶部通知栏 我的淘宝-已买到的宝贝 中查看自己的购买记录，以及每一笔订单的下单金额</p>
        </div>
      </div>
      <div class="module" data="26">
        <p class="common_question">如何提现？</p>
        <div class="module_text">
          <p class="questiontext">可在用户后台-账户提现中提现，提现需要先绑定提现账户，如果未绑定将无法提现</p>
        </div>
      </div>
      <div class="module" data="27">
        <p class="common_question">找不到商品怎么办？</p>
        <div class="module_text">
          <p class="questiontext">温馨提示： 1、所有审核通过的任务都是审核客服通过商家提供条件筛选找到之后，才审核通过的，基本上都在前十页就可以找到的，请仔细搜索；<br>
            2、若通过下列方法还是无法找到，请清空浏览器缓存或者退出登录淘宝号、更换谷歌、火狐浏览器尝试一下。<br>
            下面教大家如何快捷找到任务要求拍的商品：<br>
            第一步：根据搜索词和筛选条件进行搜索，核对商品价格、店铺名前三个字符以及商品图片；<br>
            第二步：复制提示卖家店铺名称的前两个字符：<br>
            第三步：到搜索结果页面，用键盘同时按键 【Ctrl+F】 在页面搜提示的前两个字符，一般很容易就找到了哦~<br>
            注意：是在页面的右上角弹出框搜索，不是在淘宝的搜索框搜索，切勿在淘宝搜索框直接搜索店铺名字，属严重违规行为！一经发现，直接封号~<br>
            首先查看自己的查询条件是否全面正确，如果查询条件</p>
        </div>
      </div>
      <div class="module" data="28">
        <p class="common_question">下单领取须知</p>
        <div class="module_text">
          <p class="questiontext">活动中奖后，需在当天晚上9点前内完成下单并将订单号和金额反馈至平台，超时视为自动放弃任务，系统将自动取消任务资格。如果是晚上9:10补抽中奖的用户，则需要在当天晚上24点前完成下单并将订单号和金额反馈至平台 买手需要自己垫付下单，收到商品确认收货评价后商家返还垫付资金。</p>
        </div>
      </div>
      <div class="module" data="29">
        <p class="common_question">怎样查看淘宝会员名</p>
        <div class="module_text">
          <p class="questiontext">打开手机淘宝，点击右下角我的淘宝，头像边上的就是你的旺旺名称</p>
          <img src="http://m.huomanhao.com/huomanhao/images/img1510822521867_945.png!660x367" class="textpic">
        </div>
      </div>
      <div class="module" data="30">
        <p class="common_question">如何复制淘口令链接</p>
        <div class="module_text">
          <p class="questiontext">第一步：打开手机淘宝APP进入试用商品详情，点击商品主图 下方的“分享”</p>
          <img src="http://m.huomanhao.com/huomanhao/images/img1511249580029_911.png!660x1322" class="textpic">
          <img src="http://m.huomanhao.com/huomanhao/images/img1511249581674_718.png!660x1318" class="textpic">
          <img src="http://m.huomanhao.com/huomanhao/images/img1511249581946_273.png!660x1175" class="textpic">
        </div>
      </div>
      <div class="module" data="31">
        <p class="common_question">2017年国庆节假期通知</p>
        <div class="module_text">
          <p class="questiontext"><span style="font-weight: 800;line-height: 52px;">各位亲爱的会员：</span></p>
          <p class="questiontext" style="margin-left: 48px;">根据国家法定假期规定，结合货蛮好网实际情况，2017年国庆节假期安排如下：2017年10月1日（星期日）至2017年10月8日（星期日）共放假8天。<br>
            放假期间货蛮好网安排部分客服、运营值班！<br>
            <span style="font-weight: 800;line-height: 52px;">关于用户申请&商家服务</span><br>
            1、放假期间，用户申请、兑换、秒杀 不受影响；<br>
            2、放假期间，商家发布活动不受影响；<br>
            <span style="font-weight: 800;line-height: 52px;">关于账户提现</span><br>
            <em style="color: #FF366F">1、国庆节假日期间提现正常受理，每日1次提现，请大家放心使用</em><br>
            <em style="color: #FF366F">2、由于假期提现较多，提现可能会有延迟，给您带来不便，深表歉意。</em><br>
            <span style="font-weight: 800;line-height: 52px;">关于商家发货</span><br>
            因节假日期间物流繁忙，部分商家部分地区发货可能会有延迟，请各位不要着急、耐心等待，切勿私自旺旺联系商家催促发货！<br>
            <span style="font-weight: 800;line-height: 52px;">关于客服咨询</span><br>
            1、国庆节假日期间网站会安排客服值班，如有问题请直接在QQ客服和微信中留言反馈，客服人员会及时为您处理。<br>
            2、因节日期间客服值班人员较少，如遇咨询量过大，请您耐心等候，未能及时回复请您谅解！<br>
            <span style="font-weight: 800;font-size: 34px;line-height: 110px;">最后货蛮好网全体人员祝您节日快乐！</span><br>
          </p>
          <p class="questiontext" style="text-align: right">
            2017年9月26日<br>
            杭州货蛮好网络科技有限公司
          </p>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer apply_Btn10" onclick="window.location.href='https://suzhoubaxiawangluokejiyouxiangongsi.qiyukf.com/client?k=e7e3095fb850d31a5b0d8d07f85f5c82&wp=1'">
    <div class="title" style="height: 110px;margin: 0;padding-left: 24px; font-weight: 100; width: 96.3%;background:url(../../img/apply/next.png) no-repeat right center">
      <img src="../../m/m_v2.0/img/apply/kefu.png" style="width: 77px;height: 77px;float: left;margin-top: 16px;" />
      <p class="service_qq myfl">如需其他帮助请联系客服MM<br><span class="service_time" style="color: #FF366F;font-size: 24px;">工作时间（周一到周日:9:00-18:00）</span></p>
    </div>
  </div>
</ion-view>
