
<link rel="stylesheet" href="/../../m/m_v2.0/css/helpcenter.css?366">
<ion-view style="background: #f6f6f6">
  <ion-content>
    <p class="common_question">流程问题</p>
    <div class="question_list">
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=2'">如何领取新用户必中奖励？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=3'">如何用淘宝APP扫码？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=4'">如何申请活动？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=5'">如何查看活动进展？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=6'">如何查看我是否中奖？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=7'">金币兑换中奖如何领取下单？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=8'" style="border-bottom: none;">收货后如何提交评价？</p>
    </div>
  </ion-content>
  <div class="bar bar-footer apply_Btn10" onclick="window.location.href='https://suzhoubaxiawangluokejiyouxiangongsi.qiyukf.com/client?k=e7e3095fb850d31a5b0d8d07f85f5c82&wp=1'">
    <div class="title" style="height: 110px;margin: 0;padding-left: 24px; font-weight: 100; width: 96.3%;background:url(../../img/apply/next.png) no-repeat right center">
      <img src="../../m/m_v2.0/img/apply/kefu.png" style="width: 77px;height: 77px;float: left;margin-top: 16px;" />
      <p class="service_qq myfl">如需其他帮助请联系客服MM<br><span class="service_time" style="color: #FF366F;font-size: 24px;">工作时间（周一到周日:9:00-18:00）</span></p>
    </div>
  </div>
</ion-view>
