
<link rel="stylesheet" href="/../../m/m_v2.0/css/helpcenter.css?366">
<ion-view style="background: #f6f6f6">
  <ion-content>
    <p class="common_question">代言人问题</p>
    <div class="question_list">
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=9'">如何成为代言人？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=10'">如何邀请好友成为你的粉丝？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=11'" style="border-bottom: none;">如何领取代言人奖励？</p>
    </div>
  </ion-content>
  <div class="bar bar-footer apply_Btn10" onclick="window.location.href='https://suzhoubaxiawangluokejiyouxiangongsi.qiyukf.com/client?k=e7e3095fb850d31a5b0d8d07f85f5c82&wp=1'">
    <div class="title" style="height: 110px;margin: 0;padding-left: 24px; font-weight: 100; width: 96.3%;background:url(../../img/apply/next.png) no-repeat right center">
      <img src="../../m/m_v2.0/img/apply/kefu.png" style="width: 77px;height: 77px;float: left;margin-top: 16px;" />
      <p class="service_qq myfl">如需其他帮助请联系客服MM<br><span class="service_time" style="color: #FF366F;font-size: 24px;">工作时间（周一到周日:9:00-18:00）</span></p>
    </div>
  </div>
</ion-view>
