
<link rel="stylesheet" href="/../../m/m_v2.0/css/helpcenter.css?366">
<ion-view style="background: #f6f6f6">
  <ion-content>
    <div class="flow_path">
      <p class="flow_pathtitle">如何免费获得商品：</p>
      <p class="flow_pathdetail"><span class="flow_pathstep">注册会员</span> > <span class="flow_pathstep">申请活动</span> > <span class="flow_pathstep">中奖领取</span> > <span class="flow_pathstep">收货好评</span> > <span class="flow_pathstep">平台返款</span> </p>
    </div>
    <div class="model_question">
      <div ui-sref="helpcenterList" class="model_questionA">
          <img src="../../m/m_v2.0/img/apply/question1.png" style="height: 100px;width: 100px" />
        <p class="model_questiontext">账号问题</p>
      </div>
      <div ui-sref="helpcenterListA" class="model_questionA">
        <img src="../../m/m_v2.0/img/apply/question2.png" style="height: 100px;width: 100px" />
        <p class="model_questiontext">流程问题</p>
      </div>
      <div ui-sref="helpcenterListB" class="model_questionA">
        <img src="../../m/m_v2.0/img/apply/question3.png" style="height: 100px;width: 100px" />
        <p class="model_questiontext">代言人问题</p>
      </div>
      <div ui-sref="helpcenterListC" class="model_questionA">
        <img src="../../m/m_v2.0/img/apply/question4.png" style="height: 100px;width: 100px" />
        <p class="model_questiontext">用户规则</p>
      </div>
    </div>
    <p class="common_question">常见问题</p>
    <div class="question_list">
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=12'">如何提高中奖率？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=13'">收不到消息通知怎么办？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=14'">充值金币没有到账怎么办？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=15'">充值了没有到账怎么办？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=16'">如何修改我的登录密码？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=17'">如何补全我的个人资料？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=18'">如何绑定淘宝账户？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=19'">如何绑定提现账户？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=20'">如何开通VIP会员？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=21'">如何充值金币？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=22'">如何获得积分？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=23'">如何兑换积分？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=24'">如何查看订单号?</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=25'">如何查看下单金额？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=26'">如何提现？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=27'">找不到商品怎么办？</p>
      <p class="question_listdetail" onclick="window.location.href='#/helpcenterDetail?number=28'" style="border-bottom: none;">下单领取须知？</p>
    </div>
  </ion-content>
  <div class="bar bar-footer apply_Btn10" onclick="window.location.href='https://suzhoubaxiawangluokejiyouxiangongsi.qiyukf.com/client?k=e7e3095fb850d31a5b0d8d07f85f5c82&wp=1'">
    <div class="title" style="height: 110px;margin: 0;padding-left: 24px; font-weight: 100; width: 96.3%;background:url(../../img/apply/next.png) no-repeat right center">
       <img src="../../m/m_v2.0/img/apply/kefu.png" style="width: 77px;height: 77px;float: left;margin-top: 16px;" />
      <p class="service_qq myfl">如需其他帮助请联系客服MM<br><span class="service_time" style="color: #FF366F;font-size: 24px;">工作时间（周一到周日:9:00-18:00）</span></p>
    </div>
  </div>
</ion-view>
