
<ion-view style="background: #ffffff">
  <ion-content>
    <img src="../../m/m_v2.0/img/apply/beta_page.png" style="width: 400px;text-align: center;margin: 0 auto;display: block;padding-top: 250px;">
    <p style="font-size: 36px;color: #FF366F;text-align: center;">火热内测中，敬请期待...</p>
    <a style="display: block;height: 48px;width: 180px;background: #FF366F;color: #ffffff;border-radius: 24px;line-height: 48px;font-size: 28px;text-align: center;margin: 120px auto 0;" onclick="window.location.href='#/tabs/home'">返回首页</a>
  </ion-content>
</ion-view>
