
<link rel="stylesheet" href="/../../m/m_v2.0/css/addvalueservices.css?366">
<ion-view style="background: #f6f6f6">
  <ion-content>
<p class="top_hint1">分享需公开，设置单独可见会被驳回。可获得500积分奖励</p>
<div class="commodity_show1">
  <h2 class="show_title1">店铺：{{shop_name}}</h2>
  <dl>
    <dd class="myfl"><img ng-src="{{items.item_b_o.item_pic}}">
      <p class="pic_text1">淘宝主图</p>
    </dd>
    <dt class="myfl">
    <p class="goodsName1">{{items.item_b_o.item_name}}</p>
    <p class="wangwangname1">掌柜旺旺：{{wangwang_name}}</p>
    <p class="goodsSku1">商品规格：{{sku1}}&nbsp;&nbsp;&nbsp;&nbsp;{{sku2}}</p>
    <p class="goodsNum1">商品数量：{{items.item_b_o.buy_number}}件</p>
    <p class="goodsPrice1">{{items.item_b_o.item_price/100.00|currency:'￥'}}</p>
    </dt>
  </dl>
</div>
<div class="applyStep1" style="overflow: hidden">
  <div class="line1 myfl" style="margin-top: 8px">
    <div class="line_top1"></div>
    <div class="line_strip1 lineheight"></div>
    <div class="line_top1" ></div>
    <div class="line_strip1" style="height: 370px"></div>
  </div>
  <div class="step_describe1 myfl">
    <div class="step_describetop1" style="border-bottom: none;">
      <p class="findbei1">分享微信朋友圈</p>
      <p class="find_hint2">上传截图之前，请核对信息，确认无误<br>
        核对无误后，请将以下图片和文字作为朋友圈的分享内容
      </p>
      <p class="find_hint2" style="margin-top: 28px;">请下载以下图片，作为朋友圈的展示图和问题内容</p>
      <p class="find_hint2" style="margin-top: 2px;color: #FF366F;margin-bottom: 20px;">长按图片选择保存到手机</p>
      <img class="show_pic1" src="{{showPic}}" ng-repeat="showPic in showPicArr">
      <p class="find_hint2" style="color: #FF366F;margin-top: 40px;margin-bottom: 24px;">长按文字可复制</p>
      <textarea class="copy_dialog1" readonly="readonly">{{items.share_friend_text}}</textarea>
    </div>
    <div class="step_describebuttom1" style="height: 430px;">
      <p class="findbei1" style="margin-top: 32px">上传你的朋友圈截图</p>
      <div class="upload_reminder1 clearfix">
        <p class="upload_reminderleft1 myfl">截图凸显出你分享的内容 </p>
        <a href="javascript:;" class="upload_reminderright1 myfr" ng-click="modal.show()">查看截图示例</a>
      </div>
      <div class="upload_photo clearfix">
        <input type="file" style="opacity: 0;height: 118px;width: 118px;position: relative;left: -128px;z-index: 10;"  id="imgUrl091">
        <div class="pic wu-example" id="imgUrl91">
          <img class="imgUrl1" id="preview91" src="../../m/m_v2.0/img/apply/upload_photo.png" />
        </div>
      </div>
      <div style="height: 46px;width: 70%;" >
        <p class="error_texta" ng-if="flog1" style="font-size: 24px; height: 46px; line-height: 46px;color: #FF366F;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/error_bg.png) no-repeat left center;">请上传图片！</p>
        <p class="error_texta" ng-if="flog2" style="font-size: 24px; height: 46px; line-height: 46px;color: #dda90c;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/timeing1.png) no-repeat left center;">上传图片中...</p>
        <p class="error_texta" ng-if="flog3" style="font-size: 24px; height: 46px; line-height: 46px;color: #2EA725;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/icon_right3.png) no-repeat left center;">上传成功！</p>
      </div>
    </div>
  </div>
</div>
</ion-content>
  <div class="bar bar-footer apply_Btn1" ng-style="setbackgroundColor(flog3)">
    <div class="title" ng-if="flog3" ng-click="toLink();statistic1('用户任务提交','分享朋友圈',userId,items.item_b_o.activity_id)" style=" font-size: 30px; height: 97px; line-height: 97px;">提交</div>
    <div class="title" ng-if="!flog3" style=" font-size: 30px; height: 97px; line-height: 97px;">提交</div>
  </div>
</ion-view>
<script id="templates/modalshare.html" type="text/ng-template">
  <ion-modal-view style="display: block;
    position: absolute;
    top: 25%;
    z-index: 10;
    overflow: hidden;
    min-height: 100%;
    width: 564px;
    margin-left: 93px;
    text-align: center;
    background-color: #fff;">
    <ion-content">
    <span style="height:100%;display: inline-block;vertical-align: top;"></span><img src="../../m/m_v2.0/img/apply/share.jpg" style="display: inline-block;margin-top: 0%;height: 75%;">
    </ion-content>
  </ion-modal-view>
</script>
