<link rel="stylesheet" href="/../../m/m_v2.0/css/apply.css?366">
<style>

  .button:after {
    position: absolute;
    top: 0;
    right: -6px;
    bottom: 0;
    left: -6px;
    content: ' ';
  }
  .item_lable {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    font-size: 28px;
    margin-left: 26px;
  }

  .taobaoBind_grades {
    display: block;
    cursor: pointer;
    background: url(../m/img/apply/payxia.png) no-repeat 250px center;
  }

  .taobaoBind_grades img {
    line-height: 100px!important;
    display: inline-block;
    vertical-align: middle;
    height: 24px;
  }

  .taobaoBind_type_info {
    width: 100%;
    height: 700px;
    overflow: scroll;
    overflow-x: hidden;
    background: #ffffff;
  }

  .taobaoBind_type_info li {
    line-height: 100px;
    height: 100px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
  }

  .taobaoBind_type_info li img {
    height: 28px;
    margin-top: 36px;
  }

  .shadow_select {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #000000;
    opacity: 0.6;
    z-index: 6;
  }

  .height2 {
    height: 1054px;
  }

  .height1 {
    height: 1288px;
  }
</style>
<ion-view style="background: #f6f6f6">
  <form name="PayForm">
    <ion-content>
      <p class="top_hint">请务必用绑定的淘宝账户<em style="color: #FF366F">{{items.tao_bao_name}}</em>完成支付，否则封号处理！</p>
      <div class="commodity_show">
        <h2 class="show_title">店铺：{{shop_name}}</h2>
        <dl>
          <dd class="myfl"><img ng-src="{{items.item_b_o.item_pic}}">
            <p class="pic_text">淘宝主图</p>
          </dd>
          <dt class="myfl">
            <p class="goodsName">{{items.item_b_o.item_name}}</p>
            <p class="wangwangname">掌柜旺旺：{{wangwang_name}}</p>
            <p class="goodsSku">商品规格：{{sku1}}&nbsp;&nbsp;&nbsp;&nbsp;{{sku2}}</p>
            <p class="goodsNum">商品数量：{{items.item_b_o.buy_number}}件</p>
            <p class="goodsPrice">{{items.item_b_o.item_price/100.00|currency:'￥'}}</p>
          </dt>
        </dl>
      </div>
      <div class="applyStep" style="padding-top: 40px;" ng-class="{height1:items.member_tao_bao_is_found==0,height2:items.member_tao_bao_is_found!=0}">
        <!--<p style="margin-left: 4%;font-size: 24px;">关联宝贝</p>-->
        <!--<div class="commodity_show" style="margin-bottom:48px;background: #e5e5e5;padding-top: 20px;height: 204px;margin-top: 18px;width: 92%;margin-left: 4%">-->
        <!--<dl style="margin-top: 0">-->
        <!--<dd class="myfl"><img src="{{items.freeServiceBO.relevancePicUrl}}"></dd>-->
        <!--<dt class="myfl" style="width: 480px;">-->
        <!--<p class="goodsName">{{items.freeServiceBO.relevanceItemName}}</p>-->
        <!--<p class="goodsSku">{{items.freeServiceBO.relevanceItemSku}}</p>-->
        <!--<p class="goodsNum">数量：1件</p>-->
        <!--<p class="goodsPrice">{{items.freeServiceBO.relevanceItemPrice/100.00|currency:'￥'}}</p>-->
        <!--</dt>-->
        <!--</dl>-->
        <!--</div>-->
        <div class="line myfl" style="margin-top: 8px">
          <div class="line_top"></div>
          <div class="line_strip" style="height: 158px;"></div>
          <div class="line_top"></div>
          <div class="line_strip" style="height: 346px"></div>
          <div class="line_top"></div>
          <div class="line_strip" style="height: 374px"></div>
          <div class="line_top" ng-if="items.member_tao_bao_is_found==0"></div>
          <div class="line_strip" ng-if="items.member_tao_bao_is_found==0" style="height: 324px"></div>
        </div>

        <div class="step_describe myfl">
          <div class="step_describetop" style="height: 138px;">
            <p class="findbei">确认商品信息</p>
            <p class="find_hint1">请核对商品的信息，完成支付。<em style="color: #FF366F">垫付金额将在收货好评后返还</em></p>
          </div>
          <div class="step_describetop clearfix" style="height: 350px;">
            <div class="upload_reminder clearfix" style="margin-bottom: 36px;">
              <p class="upload_reminderleft myfl" style="color: #000000;">填写订单信息</p>
              <!--<a href="javascript:;" class="upload_reminderright myfr">查看如何复制订单号</a>-->
            </div>
            <p class="goods_informationa" style="padding-left: 72px;">订单号：<input type="tel" name="text1" class="goods_num" value="" placeholder="请输入订单号" ng-model="goodsNum" required
                ng-pattern="/^\d{6,20}$/" style="width: 288px;padding-left: 10px;text-align: left;color: #333333;" ng-focus/></p>
            <div style="height: 46px;width: 70%;margin-left: 186px;">
              <p class="error_texta" ng-show="PayForm.text1.$focused&&PayForm.text1.$error.pattern||boo1" style="font-size: 24px; height: 46px; line-height: 46px;color: #FF366F;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/error_bg.png) no-repeat left center;">请输入6-20位数字组成的订单号！</p>
              <p class="error_texta" ng-show="PayForm.text1.$focused&&PayForm.text1.$error.required&&!boo1" style="font-size: 24px; height: 46px; line-height: 46px;color: #FF366F;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/error_bg.png) no-repeat left center;">请填写订单号！</p>
            </div>
            <p class="goods_informationa" style="margin-top: 0;">实付订单金额：<input type="number" name="number1" class="goods_pricetrue" ng-model="goodsPrice" required ng-pattern="/^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/"
                value="" placeholder="请输入实付金额" style="width: 288px;padding-left: 10px;text-align: left;color: #333333" ng-focus/></p>
            <div style="height: 82px;width: 70%;margin-left: 186px;">
              <p class="error_textb" ng-show="PayForm.number1.$focused&&PayForm.number1.$error.required&&!boo2&&!boo5" style="font-size: 24px; height: 46px; line-height: 46px;color: #FF366F;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/error_bg.png) no-repeat left center;">请填写实付金额！</p>
              <p class="error_textb" ng-show="boo5" style="font-size: 24px; height: 46px; line-height: 32px;margin-top: 6px; color: #FF366F;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/error_bg.png) no-repeat left top;">按下单提示商品金额填写，<br>未如实填写不予返款！</p>
              <p class="error_textb" ng-show="PayForm.number1.$focused&&PayForm.number1.$error.pattern||boo2" style="font-size: 24px; height: 46px; line-height: 46px;color: #FF366F;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/error_bg.png) no-repeat left center;">请输入正确的实付金额！</p>
            </div>
          </div>
          <div class="step_describebuttom" style="height: 356px">
            <p class="findbei" style="margin-top: 32px">上传订单截图</p>
            <p class="find_hint1">请在【我的淘宝】-【已买到宝贝】中查看订单详情页</p>
            <div class="upload_reminder clearfix">
              <p class="upload_reminderleft myfl">上传截图 </p>
              <a href="javascript:;" ng-click="modal.show()" class="upload_reminderright myfr">查看截图示例</a>
            </div>
            <div class="upload_photo clearfix">
              <input type="file" style="opacity: 0;height: 118px;width: 118px;position: relative;left: -128px;z-index: 10;" id="imgUrl031">
              <div class="pic wu-example" id="imgUrl31">
                <img class="imgUrl1" id="preview31" src="../../m/m_v2.0/img/apply/upload_photo.png" />
              </div>
            </div>
            <div style="height: 46px;width: 70%;">
              <p class="error_texta" ng-if="flog1" style="font-size: 24px; height: 46px; line-height: 46px;color: #FF366F;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/error_bg.png) no-repeat left center;">请上传图片！</p>
              <p class="error_texta" ng-if="flog2" style="font-size: 24px; height: 46px; line-height: 46px;color: #dda90c;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/timeing1.png) no-repeat left center;">上传图片中...</p>
              <p class="error_texta" ng-if="flog3" style="font-size: 24px; height: 46px; line-height: 46px;color: #2EA725;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/icon_right3.png) no-repeat left center;">上传图片完成！</p>
            </div>
          </div>
          <div ng-if="items.member_tao_bao_is_found==0" class="step_describetop clearfix" style="height: 320px;border-bottom: none;border-top: 1px solid #eeeeee;">
            <div class="upload_reminder clearfix" style="margin-bottom: 36px;">
              <p class="upload_reminderleft myfl" style="color: #000000;">填写下单淘宝账号</p>
            </div>
            <p class="goods_informationa" style="padding-left: 48px;">淘宝账号：<input type="text" name="taobaoNum" ng-model="taobao_name" class="taobao_name" value="" placeholder="淘宝账号"
                required  style="width: 288px;padding-left: 10px;text-align: left;color: #333333;" ng-focus/></p>
            <div style="height: 46px;width: 96%;margin-left: 45px;">
              <p class="error_texta" ng-show="PayForm.taobaoNum.$focused&&PayForm.taobaoNum.$error.required||boo3" style="font-size: 24px; height: 46px; line-height: 46px;color: #FF366F;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/error_bg.png) no-repeat left center;">淘宝账号长度1-25位,不能为纯数字、手机号、邮箱！</p>
              <!--<p class="error_texta" ng-show="PayForm.taobaoNum.$focused&&PayForm.taobaoNum.$error.pattern||boo3" style="font-size: 24px; height: 46px; line-height: 46px;color: #FF366F;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/error_bg.png) no-repeat left center;">请填写淘宝账号！</p>-->
            </div>
            <p class="goods_informationa" style="margin-top: 0;padding-left: 48px;width: 186px;float: left;">淘宝等级：
              <input type="hidden" name="taobaoLevel" id="taobao_name" ng-model="taobao_level" value="0" required ng-focus/>
              <div class="taobaoBind_frame" style="float: left;width: 288px;height: 62px;line-height: 62px;font-size: 24px;border: 1px solid #d1d1d1;border-radius: 4px;">
                <span class="taobaoBind_grades" ng-click="modal1.show();boo4=false;" style="width: 100%;margin-left: 8px;color: #999999">请选择等级</span>
              </div>
            </p>
            <div style="height: 46px;width: 70%;margin-left: 186px;">
              <p class="error_texta" ng-show="boo4" style="clear: both;font-size: 24px; height: 46px; line-height: 46px;color: #FF366F;padding-left: 34px;background: url(../../m/m_v2.0/img/apply/error_bg.png) no-repeat left center;">请选择淘宝等级！</p>
            </div>
          </div>
        </div>
      </div>
      <div class="attention" ng-if="items.member_tao_bao_is_found==0" style="height: 580px;">
        <span class="attention_notice">填写淘宝号注意事项：</span>
        <p class="attention_text">1、请填写您的淘宝账号，而不是您的淘宝账号绑定的手机或者邮箱。<em style="color: #FF366F;" onclick="window.location.href='#/helpcenterDetail?number=29'">不知道自己的淘宝会员名点这里</em><br>          2、淘宝账号需完成实名认证。
          <br> 3、请核对淘宝账号后填写，如填写的账号不是本人所使用，则会影响活动中奖率！
          <br> 4、提交后预计在24小时内完成审核操作，审核通过后才能获得返现。
          <br> 5、淘宝账号等级不低于2星且中差评率
          <1%，注册时间>1个月。<br> 6、淘宝账号认证通过后无法修改或删除。
        </p>
      </div>
    </ion-content>
    <div class="bar bar-footer" ng-if="items.member_tao_bao_is_found!=0" ng-class="{apply_Btn:
!PayForm.text1.$error.pattern&&
!PayForm.text1.$error.required&&
!PayForm.number1.$error.required&&
!PayForm.number1.$error.pattern&&flog3,
apply_Btna:
PayForm.text1.$error.pattern||
PayForm.text1.$error.required||
PayForm.number1.$error.required||
PayForm.number1.$valid==false||!flog3}">
      <div class="title" ng-click="toLink()" ng-click="statistic1('用户任务提交','订单提交',userId,items.item_b_o.activity_id)" style=" font-size: 30px; height: 97px; line-height: 97px;">提交</div>
    </div>




    <div class="bar bar-footer" ng-if="items.member_tao_bao_is_found==0" ng-class="{apply_Btn:
!PayForm.text1.$error.pattern&&
!PayForm.text1.$error.required&&
!PayForm.number1.$error.required&&
!PayForm.number1.$error.pattern&&
!PayForm.taobaoNum.$error.required&&flog3&&myVar,
apply_Btna:
PayForm.text1.$error.pattern||
PayForm.text1.$error.required||
PayForm.number1.$error.required||
PayForm.number1.$valid==false||!flog3||
!myVar||PayForm.taobaoNum.$error.required
}">

      <div class="title" ng-click="toLink()" ng-click="statistic1('用户任务提交','订单提交',userId,items.item_b_o.activity_id)" style=" font-size: 30px; height: 97px; line-height: 97px;">提交</div>
    </div>
  </form>
</ion-view>

<script id="templates/modalpay.html" type="text/ng-template">
  <ion-modal-view style="display: block;
    position: absolute;
    top: 25%;
    z-index: 10;
    overflow: hidden;
    min-height: 100%;
    width: 564px;
    margin-left: 93px;
    text-align: center;
    background-color: #fff;">
    <ion-content ">
    <span style="height:100%;display: inline-block;vertical-align: top; "></span><img src="../../m/m_v2.0/img/apply/paypic.jpg
      " style="display: inline-block;margin-top: 0%;height: 75%; ">
    </ion-content>
  </ion-modal-view>
</script>
<script id="templates/modaltaobaobind.html " type="text/ng-template ">
  <ion-modal-view style="display: block; position: absolute; top: 40%; z-index: 10; /*overflow: hidden;*/ min-height: 100%;
      width: 100%; text-align: center; background-color: #fff; ">
    <ion-scroll>
      <ul class="taobaoBind_type_info " >

        <li data="12 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaoa.png
      " alt=" "/></li>
        <li data="13 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaob.png
      " alt=" "/></li>
        <li data="14 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaoc.png
      " alt=" "/></li>
        <li data="15 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaod.png
      " alt=" "/></li>
        <li data="21 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaoe.png
      " alt=" "/></li>
        <li data="22 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaof.png
      " alt=" "/></li>
        <li data="23 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaog.png
      " alt=" "/></li>
        <li data="24 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaoh.png
      " alt=" "/></li>
        <li data="25 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaoi.png
      " alt=" "/></li>
        <li data="31 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaoj.png
      " alt=" "/></li>
        <li data="32 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaok.png
      " alt=" "/></li>
        <li data="33 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaol.png
      " alt=" "/></li>
        <li data="34 " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaom.png
      " alt=" "/></li>
        <li data="35 " style="border-bottom: none; " ng-click="checkgrand($event);modal1.hide() "><img src="../../m/m_v2.0/img/apply/user_taobaon.png
      " alt=" "/></li>
      </ul>
    </ion-scroll>
  </ion-modal-view>
</script>
